@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;
    --color-responsive: #90EE90;
    --color-responsive-buttom: #f725e9;
    --color-responsive-footer: #787878;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header {
    /* TOP-RIGTH-BOTOM-LEFHT */
    padding: 2% 0% 0% 15%;
}


.header_menu {
    display: flex;
    gap: 80px;
}

.header_menu_link {
    font-family: var(--fuente-montserrat);
    font-size: 20px;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}


strong {
    color: var(--color-terciario);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    justify-content: space-between;
    gap: 80px;
}

.presentacion_contenido {
    width: 50%;
    /*615px;*/
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 615px;
}

.presentacion_contenido_titulo {
    font-size: 2.25rem;
    /*36px;*/
    font-family: var(--fuente-krona);
}

.presentacion_contenido_texto {
    font-size: 1.5rem;
    /*24px;*/
    font-family: var(--fuente-montserrat);
}

.presentacion_enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulo {
    font-family: var(--fuente-krona);
    font-size: 20px;
    font-weight: 400;
    font-size: 1.5rem;
}

.presentacion_enlaces_link {
    width: 50%;
    /*378px;*/
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    /*24px;*/
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion_enlaces_link:hover {
    background-color: var(--color-hover);
}


.presentacion_imagen {
    width: 50%;
}

.footer {
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1rem;
    /*24px;*/
    font-weight: 400;
}

/*  PRIMER BREAKPOINT 1200 */

@media (max-width: 1200px) {

    .header {
        padding: 15% 0% 0% 12%;
    }

    .header_menu {
        justify-content: center;
    }

    .header_menu_link {
        color: var(--color-responsive);
    }

    .presentacion {
        flex-direction: column-reverse;
        padding: 4%;
        margin-bottom: 60px;
        gap: 20px;
    }

    .presentacion_contenido {
        width: auto;
    }

    .footer {
        padding: 20px o 40px;
    }
}

/*  SEGUNDO BREAKPOINT 768 */

@media (max-width: 768px) {

    .header {
        padding: 8%;
    }

    .header_menu li {
        font-size: 14px;
    }

    .presentacion {
        padding: 4%;
    }

    .presentacion_contenido h1 {
        font-size: 24px;
        color: var(--color-responsive-footer);
    }

    .presentacion_contenido p {
        font-size: 16px;
    }

    .presentacion_enlaces_link {
        padding: 6px 12px;
        font-size: 0.875rem;
        border: 2px solid var(--color-responsive-buttom);
    }

    .presentacion_enlaces_link img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    .presentacion_enlaces_link span {
        font-size: 0.875rem;
    }

    .footer {
        font-size: 0.875rem;
        /* 14px */
        background-color: var(--color-responsive);
    }
}

/*  TERCER BREAKPOINT 381 */

@media (max-width: 381px) {

    .header {
        padding: 6%;
    }

    .header_menu {
        flex-direction: column;
        align-items: center;
    }

    .header_menu li {
        font-size: 12px;
        margin: 8px 0;
    }

    .presentacion {
        padding: 3%;
    }

    .presentacion_contenido h1 {
        font-size: 20px;
    }

    .presentacion_contenido p {
        font-size: 14px;
    }

    .presentacion_enlaces_link {
        padding: 4px 8px;
        font-size: 0.75rem;
    }

    .presentacion_enlaces_link img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }

    .presentacion_enlaces_link span {
        font-size: 0.75rem;
    }


    .footer {
        font-size: 0.75rem;
        /* 12px */
    }
}

/*  CUARTOS BREAKPOINT 180 */

@media (max-width: 180px) {

    .header {
        padding: 4%;
    }

    .header_menu {
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 10px;
    }

    .header_menu li {
        font-size: 10px;
    }

    .presentacion {
        padding: 2%;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .presentacion_contenido h1 {
        font-size: 16px;
        margin-top: 0;
    }

    .presentacion_contenido p {
        font-size: 12px;
        margin-bottom: 0;
    }

    .presentacion_contenido_titulo {
        text-align: justify;
    }


    .presentacion_enlaces_subtitulo {
        font-size: 16px;
        text-align: center;
    }

    .presentacion_enlaces_link_insta span {
        display: none;
    }

    .presentacion_enlaces_link_github span {
        display: none;
    }

    .presentacion_enlaces_link {
        padding: 2px 6px;
        font-size: 0.625rem;
    }

    .presentacion_enlaces_link img {
        width: 12px;
        height: 12px;
        margin-right: 2px;
    }

    .presentacion_enlaces_link span {
        font-size: 0.625rem;
    }

    .footer {
        font-size: 0.625rem;
        /* 10px */
    }
}